<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>{% block title %} {% endblock %}</title>
    <!-- plugin css for this page -->
    <link
            href="{%  static 'asosiy/assets/vendors/mdi/css/materialdesignicons.min.css' %}"
            rel="stylesheet"
    />
    <link href="{% static 'asosiy/assets/vendors/aos/dist/aos.css/aos.css' %}" rel="stylesheet"/>

    <!-- End plugin css for this page -->
    <link href="{% static 'asosiy/assets/Global-Network-icon.png' %}" rel="shortcut icon"/>

    <!-- inject:css -->
    <link href="{% static 'asosiy/assets/css/style.css' %}" rel="stylesheet">
    <!--      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>-->
    <!-- endinject -->
    <script>
  var months = new Array(13);
  months[1]="января"; months[2]="февраля"; months[3]="марта"; months[4]="апреля"; months[5]="мая"; months[6]="June"; months[7]="июля"; months[8]="августа"; months[9]="сентября"; months[10]="октября"; months[11]="ноября"; months[12]="декабря";

  var time = new Date();
  var thismonth = months[time.getMonth() + 1];
  var date = time.getDate();
  var thisyear = time.getYear();
  var day = time.getDay() + 1;

  if (thisyear < 2000)
      thisyear = thisyear + 1900;
  if (day == 1) DayofWeek = "Воскресенье";
  if (day == 2) DayofWeek = "Monday";
  if (day == 3) DayofWeek = "Вторник";
  if (day == 4) DayofWeek = "Среда";
  if (day == 5) DayofWeek = "Thursday";
  if (day == 6) DayofWeek = "Friday";
  if (day == 7) DayofWeek = "Суббота";





    </script>

    <script>
setInterval(function() {
  var cd = new Date();
  var clockdat = document.getElementById("clockdat");
  clockdat.innerHTML = cd.toLocaleTimeString();
}, 1000);





    </script>


</head>

<body>

<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <!--        {% block navbar %}-->
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-bottom">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <button
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation"
                                        class="navbar-toggler"
                                        data-target="#navbarSupportedContent"
                                        type="button"
                                >
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div
                                        class="navbar-collapse justify-content-center collapse"
                                        id="navbarSupportedContent"
                                >
                                    <ul
                                            class="navbar-nav d-lg-flex justify-content-between align-items-center"
                                    >
                                        <li>
                                            <button class="navbar-close">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </li>
                                        <li class="nav-item active"><a class="nav-link"
                                                                       href="{% url 'asosiy:index' %}">HOME</a>
                                            {% for yangilik_turlari in turi %}

                                        </li>
                                        <li class="nav-item active"><a class="nav-link"
                                                                       href="{% url 'asosiy:asosiy' yangilik_turlari.id %}">{{yangilik_turlari.nomi}}</a>
                                        </li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <ul class="social-media">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.google.com"><i
                                            class="mdi mdi-magnify"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Sign in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--{% endblock %}-->
        <!-- partial -->
        <div class="flash-news-banner">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="badge badge-dark mr-3">Flash news</span>
                        <p class="mb-0">
                            Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s.
                        </p>
                    </div>
                    <div class="d-flex">
                        <!--                <span class="mr-3 text-danger">Wed, March 4, 2020</span>-->
                        <!--                <span class="text-danger">30°C,Tashkent</span>-->
                        <div class="center" style="background-color:Black; padding:5px; border-radius: 0.25rem;">
                            <span style="color:White">Today:</span>
                            <span style="color:White; font-size:14px;">
  <script>
      document.write(date+" ");
      document.write(thismonth+ " "+thisyear+" "+"year"+" — "+ DayofWeek);
  </script>
  (<span id="clockdat" style="color:White;"></span>)
  </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        {% block main %}

        {% endblock %}

        <!-- main-panel ends -->
        <!-- container-scroller ends -->


        <!-- partial:partials/_footer.html -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5 class="font-weight-normal mt-4 mb-5">
                                Newspaper is your news, entertainment, music fashion website. We
                                provide you with the latest breaking news and videos straight from
                                the entertainment industry.
                            </h5>
                            <ul class="social-media col-12">
                                <li>
                                    <a href="https://twitter.com/Ilyos53887331?s=09">
                                        <i class="mdi mdi-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ilyos_rustamov21/">
                                        <i class="mdi mdi-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://t.me/ILYOS_TUIT">
                                        <i class="mdi mdi-telegram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.Github.com/rustamovilyos/">
                                        <i class="mdi mdi-github-circle"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <br>
                        <!--                        <div class="col-sm-3">-->

                        <!--                        </div>-->

                        <div class="col-sm-12">
                            <hr style="color: white; height:5px">
                            <h3 class="font-weight-bold mb-12">
                                <a href="{% url 'asosiy:team'  %}">Our Team Members
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <!-- partial -->
</div>
</div>
<!-- inject:js -->
<script src="{% static 'asosiy/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="{% static 'asosiy/assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="{% static 'asosiy/assets/js/demo.js' %}"></script>
<script src="{% static 'asosiy/assets/js/jquery.easeScroll.js' %}"></script>
<!-- End custom js for this page-->
</body>
</html>
