{% extends './baza.html' %}

{% block title %}
📰News
{% endblock %}

{% block navbar %}

{% endblock %}

{% block news_category %}
{% for yangilik_turi in turi %}
              <ul>
                  <a style="text-decoration:none" href="{% url 'asosiy' yangilik_turi.id %}">
                      <li style="text-decaration: none" class="primary">
                          {{ yangilik_turi.nomi }}<sup>new</sup>
                      </li>
                  </a>
              </ul>
{%endfor%}
{% endblock %}


{% block content %}
<div class="container">
   <div class="row">
            {% for maqola in maqolalar %}
            <div class="card-group col shadow-sm">
              <img class="tv-img" src="{{ maqola.rasm.url }}" alt="product image">
                <div class="card-body">
                    <h5 class="card-title">{{ maqola.nomi }}</h5>
                    <p class="card-text">{{ maqola.tarif|truncatechars:70 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary">+</button>
                            <button type="button" class="btn btn-sm btn-danger">-</button>
                        </div>
                        <small class="text-muteed">{{ maqola.muallif }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if maqolalar.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ 1 }}" tabindex="-1" aria-disabled="true">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ maqolalar.previous_page_number }}" aria-disabled="true">Oldingi</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{ maqolalar.number }}</a>
            </li>
            <li class="page-item">
                {% if maqolalar.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ maqolalar.next_page_number }}">Keyingi</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ maqolalar.paginator.num_pages }}">{{ maqolalar.paginator.num_pages }}</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}